html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  background: #0d0d2b;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}
